:root {
    --header-background: #121212;
    --bttn-color: #B2FFA6;
    --nav-color: #FFFFFF;
    --text-color: #000000;
    --section-background: #EFEFEF;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
padding: 0;
margin: 0;
}
body{
color: var(--text-color);
margin: 0 auto;
padding: 0;
font-family: 'Raleway', sans-serif;
box-sizing: border-box;
}
.container{
width: 1650px;
margin: 0 auto;
padding: 0 15px;
}
.header{
background-color: var(--header-background);
padding-top: 32px;
padding-bottom: 32px;
}
.header-link{
color: var(--nav-color);
margin-right: 100px;
font-family: 'Oswald', sans-serif;
font-size: 24px;
text-transform: uppercase;
font-weight: 400;
line-height:normal;
}
.header-link:hover{
color: var(--bttn-color);
}
.header-list{
display: flex;
}
.hero-title{
    font-size: 64px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 150px;
}
.hero-box{
display: flex;
justify-content: space-between;
}
.hero-subtitle{
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 80px;
    color: var(--text-color);
    background-color: var(--bttn-color);
    font-size: 24px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.about{
background-color: var(--section-background);
}
.about-box{
display: flex;
}
.about-wrap{
padding-top: 98px;
padding-bottom: 99px;
margin-left: 78px;
}
.about-subtitle{
color: var(--text-color);
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 30px;
}
.about-text{
color: var(--text-color);
font-size: 32px;
font-weight: 400;
margin-bottom: 60px;
}
.about-btn{
border: none;
background-color: var(--bttn-color);
padding: 15px 80px;
color: var(--text-color);
font-size: 24px;
font-weight: 400;
font-family: 'Oswald', sans-serif;
letter-spacing: 1.44px;
border-radius: 5px;
cursor: pointer;
}
.general{
padding-top: 60px;
padding-bottom: 60px;
}
.general-wrap{
display: flex;
justify-content: space-between;
align-items: center;
}
.general-item{
width: 407px;
display: flex;
}
.general-img{
width: 50px;
height: 50px;
margin-right: 28px;
}
.item-subtitle{
font-size: 32px;
font-weight: 700;
text-transform: capitalize;
margin-bottom: 25px;
}
.item-text{
font-size: 24px;
font-weight: 400;
}
.general-list{
display: flex;
flex-wrap: wrap;
width: 929px;
justify-content: space-between;
align-items: center;
height: 506px;
}
.services{
 background-color: var(--section-background);
 padding-top: 60px;
 padding-bottom: 60px;
}
.servicestitle{
font-size: 40px;
font-weight: 700;
text-transform: capitalize;
text-align: center;
margin-bottom: 40px;
}
.services-text{
font-size: 32px;
font-weight: 400;
text-align: center;
margin-bottom: 56px;
}
.service-list{
display:flex;
justify-content: space-between;
margin-bottom: 80px;
}
.services-subtitle{
margin-top: 25px;
font-size: 24px;
font-weight: 600;
}
.services-bttn{
font-size: 24px;
font-weight: 400;
letter-spacing: 1.44px;
font-family: 'Oswald' , sans-serif;
background-color: transparent;
padding: 15px 80px;
border: 3px solid var(--bttn-color);
cursor: pointer;
border-radius: 5px;
}
.services-box{
display: flex;
justify-content: center;
}
.footer{
padding-top: 36px;
padding-bottom: 36px;
background-color: var(--header-background)
}
.footer-wrap{
display: flex;
justify-content: space-between;
align-items: center;
}
.footer-text{
color: var(--section-background);
font-size: 24px;
font-weight: 400;
text-transform: capitalize;

}



